<fieldset>
  <legend>Job Info:</legend>
<table>
  <tr>
    <td>Title:</td>
    <td><%= @job_post.title %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= @job_post.description %></td>
  </tr>
  <tr>
    <td>Location:</td>
    <td><%= @job_post.location %></td>
  </tr>
</table>
</fieldset>

<div>
  <% if @job_post.creator?(current_user.id)%>
    <button><%= link_to 'Edit Job Post', edit_job_post_path %></button>
    <button><%= link_to 'Delete Job Post', job_post_path, method: :delete %></button>
  <% elsif @job_post.not_applied?(current_user.id) %>
    <%= form_tag job_post_applications_path(@job_post) %>
    <%= submit_tag 'Apply' %>
  <% else %>
    <p>Already Applied</p>
  <% end %>
</div>

